.hero {
    margin: 0 auto;
    // width: 100%;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero@1x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #c4c4c4;
  }
  
  .hero__button {
    min-width: 200px;
    height: 50px;
  }
  
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero@2x.jpg');
    }
  }
  
  @include only-mobile {
    .hero {
      max-width: 480px;
    }
  }
  
  @include tablet {
    .hero {
      margin: 0 auto;
      width: 768px;
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero-tab@1x.jpg');
    }
  
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url('../images/hero-tab@2x.jpg');
      }
    }
  }
  
  @include desktop {
    .hero {
      margin: 0 auto;
      width: 100%;
      height: 600px;
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero-desk@1x.jpg');
    }
  
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url('../images/hero-desk@2x.jpg');
      }
    }
  }
  
  @media screen and (min-width: 1600px) {
    .hero {
      width: 1600px;
    }
  }
  .hero__container {
    padding: 118px 0;
    text-align: center;
    margin: 0 auto;
  }
  
  @include desktop {
    .hero__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 696px;
      padding: 200px 0;
      margin: 0 auto;
    }
    .hero__button {
      min-width: 200px;
      height: 50px;
    }
  }
  
  .hero__title {
    color: $primaryWhite;
    font-weight: 900;
    font-size: 26px;
    line-height: (42 / 26);
    letter-spacing: 0.06em;
    text-transform: uppercase;
  
    margin: 0 auto 30px;
  }
  
  @media screen and (max-width: 479px) {
    .hero__title {
      width: 100%;
    }
    .hero__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 400px;
      padding: 0 20px;
    }
    .hero__button {
      display: block;
      min-width: 200px;
      min-height: 50px;
    }
  }
  
  @media screen and (min-width: 480px) {
    .hero__title {
      width: 360px;
    }
  }

  
  @include desktop {
    .hero__title {
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      width: 696px;
    }
  }