.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity $transitDur $transitTimeFunct;
  
    &.is-hidden {
      opacity: 0;
      pointer-events: none;
  
      & .modal {
        transform: translate(-50%, -50%) scale(0.7);
        opacity: 0;
      }
    }
  }
  
  .modal {
    position: absolute;
    display: flex;
    justify-content: center;
    // width: 528px;
    // height: 581px;
    width: 450px;
    height: 609px;
    padding: 40px;
    background-color: $primaryWhite;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: transform $transitDur $transitTimeFunct, opacity $transitDur $transitTimeFunct 100ms;
  }
  
  @media screen and (max-width: 479px) {
    .modal {
      width: 90%;
    }
  }
  
  @include desktop {
    .modal {
      width: 528px;
      height: 581px;
    }
  }
  .modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $primaryWhite;
    cursor: pointer;
  
    &:hover .modal__close--icon,
    &:focus .modal__close--icon {
      fill: $accentColor;
    }
  }
  
  .modal__close--icon {
    width: 11px;
    height: 11px;
    transition: fill $transitDur $transitTimeFunct;
  }
  
  /* Оформление формы */
  .modal__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
    .modal__button {
      margin-top: 30px;
      width: 200px;
    }
  }
  .modal__title {
    text-align: center;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.17;
    color: $titleTextColor;
  }
  
  .form__input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.17;
    color: $primaryTextColor;
  }
  
  .form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: currentColor;
    width: 18px;
    transition: fill $transitDur $transitTimeFunct;
  }
  
  .form__label {
    margin-bottom: 4px;
  }
  
  .form__input-box {
    display: flex;
    position: relative;
    color: $titleTextColor;
  }
  
  .form__comment-box {
    // margin-bottom: 10px;
    margin-bottom: 20px;
  }
  
  @include desktop {
    .form__comment-box {
      margin-bottom: 10px;
    }
  }
  
  .form__input-field {
    display: flex;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 12px 12px 42px;
    outline: none;
    transition: border $transitDur $transitTimeFunct;
  
    &:focus {
      border: 1px solid $accentColor;
    }
    &:focus + .form__icon {
      fill: $accentColor;
    }
  }
  
  .comment-box__comment {
    display: flex;
    width: 100%;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    height: 120px;
    color: $titleTextColor;
    outline: none;
    transition: border $transitDur $transitTimeFunct;
  
    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
    }
  
    &:focus {
      border: 1px solid $accentColor;
    }
  }
  
  /* Чекбокс Соглашение */
  .form__agreement {
    display: inline-flex;
    align-items: center;
    // font-size: 14px;
    // line-height: 1.71;
    font-size: 12px;
    line-height: (14 / 12);
    outline: none;
  }
  
  @include desktop {
    .form__agreement {
      font-size: 14px;
      line-height: 1.71;
    }
  }
  .form__agreement-link {
    color: $accentColor;
  }
  .form__agreement-check {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-right: 7px;
    position: absolute;
    outline: none;
  }
  
  .form__agreement-text::before {
    display: inline-flex;
    margin-right: 7px;
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid $titleTextColor;
    border-radius: 2px;
    transition: background-color $transitDur $transitTimeFunct,
      border-color $transitDur $transitTimeFunct;
  
    .form__agreement-check:checked + & {
      background-color: $accentColor;
      background-image: url(../images/icons/icomoon/SVG/done.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border-color: $accentColor;
    }
  }