$primaryTextColor: #757575;
$titleTextColor: #212121;    
$accentColor: #2196f3;    
$primaryWhite: #fff;    
$secondaryBgGrey: #f5f4fa;    
$footerBgColor: #2f303a;    
$iconColor: #afb1b8;    
$transitDur: 250ms;
$transitTimeFunct: cubic-bezier(0.4, 0, 0.2, 1);